<!-- <p>content works!</p> -->
<!-- <div class="row">
    <h1>Restaurants</h1>
</div> -->

<!-- <div class="row">
    <h5>Placeholder for list of Restaurants</h5> -->
    <!-- {{restaurant_name}} -->

    <!-- <div *ngFor="let r of arrRestaurants; let i=index" class="col">
        <app-restaurants [restaurant]="r"></app-restaurants> -->

         <!-- {{arrRestaurants[i]}}<br/> -->
        <!-- <div *ngFor="let details of r">
            {{details}}<br/>
        </div> -->

        <!-- <div *ngFor="let details of arrRestaurants[i]">
            {{details}}<br/>
        </div> -->

    <!-- </div>
</div> -->

<!-- <div class="row">
    <h1>Users</h1>
</div> -->
<!-- <div class="row"> -->
    <!-- <div *ngFor="let u of arrUsers; let i=index" class="col"> -->
        <!-- <app-user-view [users]="arrUsers"></app-user-view>
    </div> -->
<!-- </div> --> 


<router-outlet></router-outlet>
