<!-- <p>user-view-details works!</p> -->
<div class="row" >
<div class="card" style="background-color: #e7f1d4; width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">First Name : {{user.first_name}}</h5>
      <p class="card-text">Middle Name : {{user.middle_name}}</p>
      <p class="card-text">Last Name : {{user.last_name}}</p>
      <p class="card-text">Email : {{user.email}}</p>
      <p class="card-text">Password : {{user.password}}</p>
      <p class="card-text">Mobile : {{user.mobile}}</p>
      <p class="card-text">DOB : {{user.dob}}</p>
      <p class="card-text">Role : {{user.role}}</p>
      <p class="card-text">House No. : {{user.address.house_No}}</p>
      <p class="card-text">Street : {{user.address.street}}</p>
      <p class="card-text">Area : {{user.address.area}}</p>
      <p class="card-text">City : {{user.address.city}}</p>
      <p class="card-text">country : {{user.address.country}}</p>
      <p class="card-text">Pincode : {{user.address.pincode}}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>
</div>