<div class="container-fluid">
    <div class="row">
        <app-banner></app-banner>
    </div>
    <div class="row">
        <app-content></app-content>
    </div>
    <div class="row">
        <app-footer></app-footer>
    </div>

    <!-- <meta http-equiv="refresh" content=""> Refresh the page every 60 seconds -->


    
    <!-- <div class="row">
        <app-pipe-example></app-pipe-example>
    </div>  -->
    <!-- <p [appHighlight]="color">Highlight me!</p>

    <p [appHighlight]="color" defaultColor="violet">
        Highlight me too!
    </p>

    <img src="assets/images/food1.jpg" appOpacity> -->


</div>
