<table>
    <thead>
        <tr style="font: bold;">
            <th>Id</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>DOB</th>
            <th>Mobile</th>
            <th class="col-md-4">Address Details</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.first_name}}</td>
            <td>{{u.middle_name}}</td>
            <td>{{u.last_name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.password}}</td>
            <td>{{u.dob}}</td>
            <td>{{u.mobile}}</td>
            <td class="col-md-4">
                House No: {{u.address.house_No}}
                {{u.address.street}}, {{u.address.area}}<br>
                {{u.address.city}}, {{u.address.country}}
                {{u.address.pincode}} 
            </td>
            <td>{{u.role}}</td>
            <td><button class="btn btn-primary" (click)="viewDetails(u.id)">View Details</button></td>
            <td><button class="btn btn-primary" (click)="deleteUser(u.id)">Delete</button></td>
        </tr>
    </tbody>
</table>