<p>restaurant-owner works!</p>
<div class="row" id="admin_page">
    <mat-tab-group >
     
        <mat-tab label="Restaurants">
            <mat-tab-group>
                <mat-tab label="View Restaurants" class="boldstyle" >
                    <app-restaurant-view></app-restaurant-view>
                </mat-tab>
                <mat-tab label="Add Restaurant" class="boldstyle">
                    <app-restaurant-add></app-restaurant-add>
                </mat-tab>
                <mat-tab label="Update Restaurant" class="boldstyle">
                    <app-restaurant-update></app-restaurant-update>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>

    </mat-tab-group>
    </div>