<!-- <p>demo2-form works!</p> -->

<!-- <div class="ui raised segment">
    <h2 class="ui header">Demo Form: Sku with Builder</h2>
    <form [formGroup]="myForm"
          (ngSubmit)="onSubmit(myForm.value)"
          class="ui form">
  
      <div class="field">
        <label for="skuInput">SKU</label>
        <input type="text"
             id="skuInput"
             placeholder="SKU"
             formControlName="sku"> 
      </div>

      <button type="submit" class="ui button">Submit</button>
    </form>
</div> -->

<div class="ui raised segment">
    <h2 class="ui header">Demo Form: With validation (shorthand)</h2>
    <form [formGroup]="myForm"
          (ngSubmit)="onSubmit(myForm.value)"
          class="ui form"
          [class.error]="!myForm.valid && myForm.touched">
  
      <div class="field" [class.error]="!myForm.get('sku')?.valid && myForm.get('sku')?.touched">
        <label for="skuInput">SKU</label>
        <input type="text"
             id="skuInput"
             placeholder="SKU"
             formControlName="sku">
             <div *ngIf="!myForm.controls['sku'].valid" style="color: red;" class="form-error">SKU is invalid</div> 
             <div *ngIf="myForm.controls['sku'].hasError('required')" class="invalid-feedback">SKU is required</div>
      </div>

      <div *ngIf="!myForm.valid" style="color: red;" class="form-error">Form is invalid</div>
      <button type="submit" class="ui button">Submit</button>
    </form>
</div>

